* {
    background-color: rgb(254, 195, 136);
}

h1, h2 {
    font-family: Arial, Verdana, Tahoma, "Trebuchet MS";
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

li, p {
    font-family: Arial, Verdana, Tahoma, "Trebuchet MS";
    font-size: 20px;
}
